* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(255, 255, 255, 0) 100%), #121212;
  color: #edf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #edf0f1;
}

label {
  display: inline-block;
  width: 12rem;
  font-size: 1em;
}

li {
  text-decoration: none;
  list-style-type: none;
}

header {
  background-color: rgba(0, 53, 115, 0.5);;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 5rem;
}

a {
  color: #edf0f1;
  text-decoration: none;
  font-size: 1em;
}

i {
  vertical-align: middle;
}

input[type=text], select {
  padding: 1em 1em;
  display: inline-block;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}

input[type=password], select {
  padding: 1em 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.separator {
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid #4A4A4A;
  box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;
  color: #eeeeee;
  /* text-align: center; */
  font-size: 1em;
  padding: 20px;
  /* width: 200px; */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #4b4357;
}

.container {
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.label-danger {
  color: red;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select {
  background: #767676;
  color: #edf0f1; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

select:hover {
  cursor: pointer;
}

button.connect {
  float: right;
  background: #6683CF;
  border-radius: 16px;
  font-size: 16px;
  padding: 0.2em;
  width: 6em;
  text-align: center;
  margin-top: 0.1em;
  margin-right: 0px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*------ Switch CSS ---------*/

.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.25em;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CF6679;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0.3em;
  bottom: 0.2em;
  background-color: #4a4a4a;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66CF7D;
}


input:checked + .slider:before {
  -webkit-transform: translateX(1.1em);
  -ms-transform: translateX(1.1em);
  transform: translateX(1.1em);
}

input:disabled + .slider {
  background: #878787;
}

.on
{
  display: none;
}

.on, .off
{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

input[disabled] {
  background: grey;
}

/* Rounded sliders */
.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------- manual control sidebar css -------- */

.wrapper  {
  display: flex;
  height: 80vh;
  grid-column-gap: 1em;
  align-self: center;
}

.wrapper > div{
  background: none;
}

.manual-controls {
  flex: 1.5;
}

.accordion > div{
  display: grid;
  grid-row-gap: 1em;
}

button.accordion {
  width: 100%;
  border-radius: 12 12 0 0px;
  outline: none;
  padding: 10px;
  margin: 0px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:hover {
  background-color: rgb(63, 63, 63);
}

button.accordion::before {
  content: '\f111';
  font-family: "fontawesome";
  font-size: 1em;
  float: left;
  color: #CF6679;
  padding-right: 10px;
}

button.accordion.is-open::after{
  display: grid;
}

.accordion-content {
  /* padding-left: 20px;
  padding-right: 20px; */
  margin-bottom: 1em;
  background: #4A4A4A;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
  max-height: 80%;
  transition: max-height 0.2s ease-in-out;
}

.serial-connection {
  padding: 10px;
}

.serial-connection select {
  width: 100%;
}

#dome-icon {
  float: left;
  height: 8em;
  margin: 1em;
}

#selectors {
  display: inline-block;
}

.opener {
  /* float: center; */
  margin-top: 1em;
}

.switch-container {
  float: right;
  margin-left: 2.2em;
}

/* ------- main control navbar css -------- */

.main-controls {
  flex: 4;
}

.tab{
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid #4A4A4A;
  box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;

  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
}
.contents{
  height: 85%;
  background: #212121;
  border: 1px solid #4A4A4A;
  box-sizing: border-box;
  border-radius: 0px 12px 12px 12px;
  overflow: hidden;
  padding: 20px;  
}
.content{
  display: none;
}

.radio{
  display: none;
}
#skymap:checked ~ .contents #skymap-content,
#camera:checked ~ .contents #camera-content{
  display: block
}
#skymap:checked ~ .tabs #skymap-tab,
#camera:checked ~ .tabs #camera-tab{
  background: #4A4A4A;
  color: #ffffff;
}

#skymap-content {
  /* display: flex; */
  flex-direction: column;
}

#starmap-border {
  border: 2px solid #4A4A4A;
  border-radius: 12px;
  height: 400px;
}

#starmap {
  height: 100%;
}

/* ------- starmap control css -------- */

#starmap-controls {
  height: 22vh;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  grid-column-gap: 2em;
  /* justify-content: flex-start; */

  /* display: grid;
  grid-template-columns: 30% 60%;
  grid-column-gap: 1em; */
  /* align-self: center; */
}


#current-view {
  flex: 2;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 3% 85%; */
  grid-row-gap: 1em;
  /* flex-wrap: wrap; */
  /* align-self: left; */
  /* justify-content: space-between; */
}

.searchbar {
  display: flex;
  background: transparent;
  box-sizing: border-box;
  border-radius: 12px;
  height: 20px;
}

#search-icon {
  flex: 1;
  background: #4A4A4A;
  border-radius: 12px 0px 0px 12px;
  padding-left: 0.2em;
}

#search-field {
  flex: 10;
}


#menu {
  flex: 1;
  background: #4A4A4A;
  border-radius: 0 12 12 0px;
  text-align: right;
  border-left: 2px solid #CBCBCB;
}

#menu i {
  padding-right: 0.2em;
  padding-bottom: 0.1em;
}


#control-panel {
  flex: 1;
  background: #4A4A4A;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 12px;
  /* height: 20%; */
}

.console {
  background: #4A4A4A;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 12px;
  /* height: 30%; */
}

#starmap-console {
  flex: 4;
}

