{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'observatory_control/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <!-- JS Dependencies-->
    <script src="{% static 'observatory_control/js/stuquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'observatory_control/js/virtualsky.js' %}" type="text/javascript"></script>
    <script src="{% static 'observatory_control/js/virtualsky-planets.js' %}" type="text/javascript"></script>
    <script async src="{% static 'observatory_control/js/manual-controls.js' %}"></script>
    <script src="{% static 'observatory_control/js/main-controls.js' %}"></script>
    
</head>
<body>
    <header class="site-header">
        <h2>Observatory Control System</h2>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li>:-)</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
</body>
</html>
